<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.newboard.mapper.NewBoardMapper">
    <select id="searchBoard" resultType="com.example.newboard.entity.Board" parameterType="com.example.newboard.entity.Board">
        SELECT *
        FROM board
        WHERE 1 = 1
        <if test="non != null &amp;&amp; !non.equals('')">
            AND non = #{non}
        </if>
        <if test="title != null &amp;&amp; !title.equals('')">
            AND title = #{title}
        </if>
    </select>

    <delete id="deleteBoard">
        DELETE FROM board
        WHERE non = #{non}
    </delete>

    <insert id="insertBoard">
        INSERT INTO board
             ( NON
             , SUB_NO
             , SEQ
             , LARGE_CODE
             , MIDDLE_CODE
             , TITLE
             , CONTENTS
             , LEVEL2
             , FILE_PATH
             , FILE_NAME
             , REG_DATE
             , REG_USER
             , MOD_DATE
             , MOD_USER
             )
        VALUES
             ( #{non}
             , #{subNo}
             , #{seq}
             , #{largeCode}
             , #{middleCode}
             , #{title}
             , #{contents}
             , #{level2}
             , #{filePath}
             , #{fileName}
             , #{regDate}
             , #{regUser}
             , #{modDate}
             , #{modUser}
             )
    </insert>
</mapper>